.border {
    border: 2px solid red;
    margin: 3px;
}
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p1{
    padding: 10px;
}
/* For WebKit-based browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 10px;
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 5px;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #666 #333;
}

/* For Edge and Internet Explorer */
* {
    scrollbar-width: thin;
    scrollbar-color: #666 #333;
}